<header class="header">
    <div class="navigation">
        <a href="{{ '/' | prepend: site.baseurl }}" class="logo">
            {% if site.logo %}
            <img class="m-auto" src="{{ site.logo | prepend: site.baseurl}}" />
            {% else %}
            {{ site.title }}
            {% endif %}
        </a>
    </div>
    <ul class="social-links">
        <a href="{{ '/typijs' | prepend: site.baseurl }}" class="social-links__entry">Get started</a>
        {% if site.author.email %}
        <a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
            <i class="fa fa-envelope-square text-yellow"></i>
        </a>
        {% endif %}
        {% if site.author.github %}
        <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
            <i class="fa fa-github text-yellow"></i>
        </a>
        {% endif %}
        {% if site.author.linkedin %}
        <a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
            <i class="fa fa-linkedin text-yellow"></i>
        </a>
        {% endif %}
    </ul>
</header>